.input-wrapper {
  display: flex;
  flex-flow: column;
  margin: 40px 0px;

  label {
    color: #565656;
    font-size: 16px;
    line-height: 27px;
  }
  
  input {
    height: 40px;
    padding: 20px 0px;
    border-bottom: 1px solid black;
  }

  input::placeholder{
    color: #7b7b7b;
  }
}